name: Run PHPUnit

on:
  push:
    branches:
      - develop
      - main
    paths:
      - '**.php'
      - 'composer.json'
      - 'composer.lock'
      - 'phpunit.xml.dist'
      - '.wp-env.json'
      - '.github/workflows/integration.yml'
  pull_request:
    branches:
      - develop
      - main
    paths:
      - '**.php'
      - 'composer.json'
      - 'composer.lock'
      - 'phpunit.xml.dist'
      - '.wp-env.json'
      - '.github/workflows/integration.yml'
  workflow_dispatch:

# Cancel any existing runs of this workflow on the same branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: WP ${{ matrix.wordpress }} on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          # Check lowest supported WP version, with the lowest supported PHP.
          - wordpress: '6.4'
            php: '7.4'
          # Check latest WP with the latest PHP.
          - wordpress: 'master'
            php: 'latest'
      fail-fast: false

    env:
      WP_ENV_CORE: WordPress/WordPress#${{ matrix.wordpress }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 'lts/*'

      - name: Install npm dependencies and start wp-env
        run: |
          npm -g install @wordpress/env
          wp-env start

      - name: Run integration tests (single site)
        run: composer test:integration

      - name: Run integration tests (multisite)
        run: composer test:integration-ms
