name: Run PHPUnit

on:
  push:
    branches:
      - develop
      - main
    paths:
      - '**.php'
      - 'composer.json'
      - 'composer.lock'
      - 'phpunit.xml.dist'
      - '.wp-env.json'
      - '.github/workflows/integrations.yml'
  pull_request:
    branches:
      - develop
      - main
    paths:
      - '**.php'
      - 'composer.json'
      - 'composer.lock'
      - 'phpunit.xml.dist'
      - '.wp-env.json'
      - '.github/workflows/integrations.yml'
  workflow_dispatch:

# Cancel any existing runs of this workflow on the same branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: WP ${{ matrix.wordpress }} on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        wordpress: ['6.4', 'master']
        php: ['7.4', '8.3']
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@9e72090525849c5e82e596468b86eb55e9cc5401 # v2.32.0
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install Composer dependencies
        uses: ramsey/composer-install@57532f8be5bda426838819c5ee9afb8af389d51a # v3.0.0

      - name: Setup Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: 'lts/*'

      - name: Install npm dependencies and start wp-env
        run: |
          npm -g install @wordpress/env
          WP_ENV_PHP_VERSION=${{ matrix.php }} WP_ENV_CORE=WordPress/WordPress#${{ matrix.wordpress }} wp-env start

      - name: Run integration tests (single site)
        run: composer test:integration

      - name: Run integration tests (multisite)
        run: composer test:integration-ms
